
.container{
  background-color: black;
  background: #CCC;
  text-align: center;
  width:60%;
  margin: auto; 

}

.program {
  background-color: black;
  background: #CCC;
}
.experience {
  color: rgb(98, 0, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 38px;
  text-align: center;
}
.experience h1{
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
}

.basicinfo h1{
  color:black;
}
.basicinfo a{
  color:rgb(0,119, 181);
}

h2 {
  color:black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: left;
}


h3 {
  color: cyan;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: right;
}

ul {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: left;

}


/*body {
  background-color: white;
  width: 60%;
}

div {
  background-color: black;
  background: #CCC;
  text-align: center;
  width: 60%;
}*/