div {
  background-image:url("Ayodeji.JPG");
  background: #CCC;
  text-align: center;
}

body {
  background-color: white;
}

h1 {
  color: skyblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 38px;
  text-align: center;
}

h2 {
  color: cyan;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: left;
}


h3 {
  color: cyan;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: right;
}

ul {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: left;

}
